<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
<h1>Listagem</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Idade</th>
    </tr>
    </thead>
    <tbody>
    {% for pessoa in pessoa %}
    <tr>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td><a href ="{% url 'delete' pessoa.id %}">Deletar</a></td>
        <td><a href ="{% url 'create' %}">Criar Usuário</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>