<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form method="post">
    <h1>Atualizar Dados</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button>Salvar</button>
    <button><a href ="{% url 'list' %}">Não</a></button>
</form>
</body>
</html>